{% if not title %}
	{% set title="Welcome to the DartsApp - your group's scorekeep!" %}
{% endif %}

<!DOCTYPE htlm>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width initial-scale=1">
		<title>{{ title }}</title>
	</head>
	<body>
		{% for msg in get_flashed_messages() %}
			<p><b>{{ msg }}</b></p>
		{% endfor %}

		<nav>
			<a href="/">Home</a>
			<a href="/new">Add a player</a>
			{% if currentUser() %}
				<a href="/user/logout">Logout</a> - {{ currentUser().email }} -
			{% else %}
				<a href="/user/login">Login</a>
				<a href="/user/register">Register</a>
			{% endif %}
		</nav>

		<h1>{{ title }}</h1>

		{% if not currentUser() %}
			<h3>Please register/log in into the game session</h3>
		{% endif %}

		{% block content %}
		{% endblock content %}
	</body>
</html>
